In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import sqlite3
import requests

In [14]:
con = sqlite3.connect('ds_salaries.db')

In [15]:
con.close()

In [4]:
df = pd.read_csv(r'C:\Users\kolcz\Documents\data_science_kunskapskontroll_3_salaries\ds_salaries.csv')

In [5]:
df.to_sql('Salaries', con, if_exists = 'replace', index=False)

3755

In [11]:
print(df)

      work_year experience_level employment_type                 job_title  \
0          2023               SE              FT  Principal Data Scientist
1          2023               MI              CT               ML Engineer
2          2023               MI              CT               ML Engineer
3          2023               SE              FT            Data Scientist
4          2023               SE              FT            Data Scientist
...         ...              ...             ...                       ...
3750       2020               SE              FT            Data Scientist
3751       2021               MI              FT  Principal Data Scientist
3752       2020               EN              FT            Data Scientist
3753       2020               EN              CT     Business Data Analyst
3754       2021               SE              FT      Data Science Manager

       salary salary_currency  salary_in_usd employee_residence  remote_ratio  \
0       80000             EUR          85847              Spain           100
1       30000             USD          30000      United States           100
2       25500             USD          25500      United States           100
3      175000             USD         175000             Canada           100
4      120000             USD         120000             Canada           100
...       ...             ...            ...                ...           ...
3750   412000             USD         412000      United States           100
3751   151000             USD         151000      United States           100
3752   105000             USD         105000      United States           100
3753   100000             USD         100000      United States           100
3754  7000000             INR          94665              India            50

     company_location company_size
0                  ES            L
1                  US            S
2                  US            S
3                  CA            M
4                  CA            M
...               ...          ...
3750               US            L
3751               US            L
3752               US            S
3753               US            L
3754               IN            L

[3755 rows x 11 columns]

In [6]:
quuery = '''
SELECT * 
FROM ds_salaries.csv;
'''

In [20]:
import os
print(os.getcwd())

c:\Users\kolcz\Documents\data_science_kunskapskontroll_3_salaries

In [10]:
df.columns
 
df['employee_residence'] = df['employee_residence'].replace({"ES": "Spain", "US": "United States", "CA": "Canada", "DE": "Germany", "GB": "Great Britain", "NG": "Nigeria", "IN": "India", "HK": "Hong Kong", "PT": "Portugal", "NL": "Netherlands", "CH": "Switzerland", "CF": "Central African Republic", "FI": "Finland", "UA": "Uruguay", "IE": "Republic of Ireland", "IL": "Israel", "GH": "Ghana", "AT": "Austria", "CO":"Colombia", "SG":"Singapore", "SE": "Sweden", "SI": "Slovenia", "MX": "Mexico", "UZ": "Uzbekistan", "HR": "Croatia", "PL": "Poland", "KW": "Kuwait", "VN": "Vietnam", "CY": "Cypern", "AR": "Argentina", "AM": "Armenia", "BA": "BosniaandHerzegovina", "KE": "Kenya", "GR": "Greece", "MK": "NorthMacedonia", "LV": "Latvia", "IT": "Italy", "MA": "Morocco", "LT": "Lithuania", "BE": "Belgium", "AS": "AmericanSamoa", "IR":"Iran", "HU": "Hungary", "SK": "Slovakia", "CN": "China", "CZ": "CzechRepublic", "CR": "CostaRica", "TR": "Turkey", "DK": "Denmark", "BO": "Bolivia", "PH": "Philippines", "DO": "DominicanRepublic", "EG": "Egypt", "ID": "Indonesia", "AE": "UnitedArabEmirates", "MY": "Malaysia", "JP": "Japan", "EE": "Estonia", "HN": "Honduras", "TN": "Tunisia", "IQ": "Iraq", "BG": "Bulgaria", "JE": "Jordanien", "RS": "Serbia", "NZ": "NewZealand", "MD": "Moldova", "LU": "Luxenbourg", "MT": "Malta"})
 
new_df = df.to_sql("ds_salaries.csv", con, if_exists="replace")
 
print(new_df)

3755

In [12]:
print(new_df)

3755